div.container {
    width: 960px;
    margin: auto;
}

div.title {
    margin-bottom: 35px;
}

div.form-divider {
    height: 96px ;
    line-height: 96px;
}

div.select-button {
    margin-top: 20px;
}